body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    width: 100vw;
}

header,
footer {
    background-color: #1f2937;
}

header {
    padding: 0 100px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.nav-link,
footer {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb
}

.nav-link:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

footer {
    text-align: center;
    padding: 15px 0;
}